.container {
  max-width: 1240px;
  margin: 0 auto;
}

.cards {
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.card {
  background-color: lightgray;
  display: flex;
  gap: 10px;
}
.photo {
  display: flex;
  border-radius: 50%;
}
.description {
}
